@import "dotfiles/home/apps/rofi/minimal.rasi"

listview {
    lines: 5;
    columns: 4;
    fixed-height: true;
    fixed-columns: true;
    flow: horizontal;
}

window {
    width: 40em;
}

element {
    children: [ element-icon, element-text ];
    background-color: transparent;
}

element-text{
    horizontal-align: 0.5;
}

element-icon {
    size: 2.5em;
    background-color: transparent;
}